<app-header title="Detalhes do Treino" backTo="/training" />

<ion-content [fullscreen]="true" class="ion-padding">
  @if (training) {
    <ion-text class="ion-text-center">
      <h1>
        {{ training.name }}
      </h1>
    </ion-text>
    <ion-grid class="ion-margin-horizontal ion-no-padding details-duration">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-icon name="calendar-outline" />
        </ion-col>
        <ion-col size="auto">
          <ion-text>
            <span class="ion-no-margin">
              Duração: {{ training.duration }} dias
            </span>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding training-divisions">
      @for (division of training.divisions; track $index) {
        <ion-row>
          <app-training-details-card [trainingDivision]="division" />
        </ion-row>
      }
    </ion-grid>
  }

  <app-exercises-list-modal />
</ion-content>