.details-duration {
  color: rgba(234, 234, 234, .3);

  ion-col {
    display: flex;
  }

  ion-text {
    font-size: .875rem;
  }

  ion-icon {
    margin-right: .375rem;
  }
}

.training-divisions {
  margin-top: 1.375rem;
}