<app-header title="Detalhes do Treino" backTo="/training" />

<ion-content [fullscreen]="true" class="ion-padding">
  @if (training$ | async; as training) {
    <ion-text class="ion-text-center">
      <h1>
        {{ training.name }}
      </h1>
    </ion-text>
    <ion-grid class="ion-margin-horizontal ion-no-padding details-duration">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-icon name="calendar-outline" />
        </ion-col>
        <ion-col size="auto">
          <ion-text>
            <span class="ion-no-margin">
              Duração: {{ training.duration }} dias
            </span>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding training-divisions">
      @for (division of training.divisions; track $index) {
        <ion-row>
          <ion-card class="ion-padding">
            <ion-card-header>
              <ion-card-title>
                <h3 class="ion-no-margin">
                  {{ division.title }}
                </h3>
              </ion-card-title>
              <ion-text>
                <p class="ion-no-margin">
                  {{ division.exercises.length }} exercícios
                </p>
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-button class="init-training-button">
                Iniciar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
      }
    </ion-grid>
  }
</ion-content>

