<div class="empty-state ion-text-center ion-display-flex ion-flex-column ion-align-items-center">
  <div class="empty-state__icon ion-display-flex ion-align-items-center">
    <ion-icon name="calendar-clear-outline" size="large"></ion-icon>
  </div>

  <h2>
    Você ainda não tem <span>nenhum treino</span>
  </h2>
  <p>
    Você ainda não possui treinos cadastrados. Que tal criar o primeiro e começar sua evolução?
  </p>

  <ion-button expand="block" class="empty-state__add-button">
    <ion-icon name="add" class="ion-margin-end"></ion-icon>
    Criar treino
  </ion-button>
</div>