<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Novo Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="training" (ngSubmit)="onSubmit()">
    <fieldset>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-text>
            <h2>Informações do treino</h2>
          </ion-text>
        </ion-row>
  
        <ion-row>
          <ion-input
            label="Nome do Treino"
            labelPlacement="floating"
            placeholder="Nome do Treino"
            fill="solid"
            id="name"
            formControlName="name"
          />

          @if (name?.invalid && (name?.touched || name?.dirty)) {
            <div class="alert-error">
              @if (name?.hasError('required')) {
                <span>O nome é obrigatório</span>
              }
              @if (name?.hasError('minlength')) {
                <span>O nome deve ter no mínimo 4 caracteres</span>
              }
            </div>
          }
        </ion-row>
  
        <ion-row class="ion-margin-top">
          <ion-input
            label="Duração (em dias)"
            labelPlacement="floating"
            placeholder="Duração (em dias)"
            type="number"
            fill="solid"
            class="ion-margin-top"
            id="duration"
            formControlName="duration"
          />
          @if (duration?.invalid && (duration?.touched || duration?.dirty)) {
            <div class="alert-error">
            @if (duration?.hasError('min') || duration?.hasError('required')) {
            <span>A duração deve ser de no mínimo 1 dia</span>
            }
          </div>
          }
        </ion-row>
      </ion-grid>
    </fieldset>

    <fieldset class="training-division">
      <app-add-division />

      <app-division-list />
    </fieldset>

    <ion-button class="save-training" type="submit" expand="block">
      Salvar treino
    </ion-button>
  </form>

  <app-exercise-modal [(isOpen)]="isAddingExercise" />
</ion-content>