<app-header title="Novo Treino" backTo="/training" />

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="training" (ngSubmit)="onSubmit()">
    <fieldset>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-text>
            <h2>Informações do treino</h2>
          </ion-text>
        </ion-row>
  
        <ion-row>
          <ion-input
            label="Nome do Treino"
            labelPlacement="floating"
            placeholder="Nome do Treino"
            errorText="O nome é obrigatório e deve ter, no mínimo, 4 caracteres"
            fill="solid"
            id="name"
            formControlName="name"
          />
        </ion-row>
  
        <ion-row class="ion-margin-top">
          <ion-input
            label="Duração (em dias)"
            labelPlacement="floating"
            placeholder="Duração (em dias)"
            errorText="A duração deve ser de no mínimo 1 dia"
            type="number"
            fill="solid"
            class="ion-margin-top"
            id="duration"
            formControlName="duration"
          />
        </ion-row>
      </ion-grid>
    </fieldset>

    <fieldset class="training-division">
      <app-add-division (addDivision)="onAddDivision($event)" />

      <app-division-list [divisions]="divisions" (addExercise)="onAddExerciseToDivision($event)" />
    </fieldset>

    <div class="form-buttons">
      <ion-button
        expand="block"
        fill="outline"
        class="ion-margin-bottom cancel-button"
        (click)="backToHome()"
      >
        Cancelar
      </ion-button>

      <ion-button class="save-training-button" type="submit" expand="block">
        Salvar treino
      </ion-button>
    </div>

  </form>

  <app-exercise-form-modal [(isOpen)]="isExerciseModalOpen" (exerciseAdded)="onAddExercise($event)" />
</ion-content>