fieldset {
  border: none;
  padding: 0;
}

.training-division {
  margin-top: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-top: 1.5px solid var(--color-dark-magenta);
}

.form-buttons {
  margin-top: 2rem;
}

.cancel-button {
  --border-color: rgba(255, 255, 255, .2);
  --color: rgba(234, 234, 234, .5);
}

.save-training-button {
  --background: var(--color-primary-red);
  --color: var(--color-white);
}