<ion-text>
  <h2>Divisão do treino</h2>
</ion-text>

<ion-grid class="ion-no-padding">
  <ion-row class="ion-align-items-center">
    <ion-col size="8.5">
      <ion-input
        label="Divisão. Ex.: A - Peito"
        labelPlacement="floating"
        placeholder="Divisão. Ex.: A - Peito"
        fill="solid"
      />
    </ion-col>

    <ion-col size="2">
      <button class="add-division-button">
        <ion-icon size="small" name="add-circle-outline"></ion-icon>
        <ion-text>
          Adicionar
        </ion-text>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>