.add-division-button {
  background-color: transparent;
  color: var(--color-rosy-magenta);
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 12px;
}