<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-button color="dark" fill="clear" (click)="onCloseModal()">
                <ion-icon name="chevron-back-outline" slot="icon-only" size="large" />
              </ion-button>
            </ion-col>

            <ion-col size="9" class="ion-text-center">
              <ion-title>
                Exercícios
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="ion-text-center ion-margin-top ion-margin-bottom">
        <h2 class="ion-no-margin">
          Divisão {{ exerciseDivision.title }}
        </h2>
        <span class="exercises-length">{{ exerciseDivision.exercises.length }} exercício(s)</span>
      </div>

      <ion-grid class="ion-no-margin ion-no-padding">
        @for (exercise of exercises; track $index) {
          <ion-row>
            <ion-card class="ion-padding">
              <div>
                <ion-card-header>
                  <ion-card-title>{{ exercise.name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row class="ion-justify-content-between">
                      <ion-col size="auto">
                        <p>
                          Séries:
                        </p>
                        <p>
                          {{ exercise.sets }}
                        </p>
                      </ion-col>
                      <ion-col size="auto">
                        <p>
                          Repetições:
                        </p>
                        <p>
                          {{ exercise.reps }}
                        </p>
                      </ion-col>
                      <ion-col size="auto">
                        <p>
                          Descanso:
                        </p>
                        <p>
                          {{ exercise.rest }}
                        </p>
                      </ion-col>
                      <ion-col size="auto">
                        <p>
                          Carga:
                        </p>
                        <p>
                          {{ exercise?.weight }}
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </div>
              <ion-button shape="round" class="exercise-infos">
                <ion-icon slot="icon-only" name="information-circle-outline" />
              </ion-button>
            </ion-card>
          </ion-row>
        }
      </ion-grid>
      
    </ion-content>
  </ng-template>
</ion-modal>