ion-content {
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
}

.header__image {
  display: block;
  margin: 0;
  width: 2.5rem;
}

.welcome-container {
  margin-top: var(--ds-spacing-5);

  span {
    color: var(--ds-color-primary-soft);
  }

  h1 {
    margin-top: var(--ds-spacing-2);
  }

  p {
    color: var(--ds-color-text-secondary);
    max-width: 50%;
  }
}

.list__container {
  margin-top: var(--ds-spacing-8);
}

.list__current-workout__title {
  color: var(--ds-color-primary-soft);
  margin-bottom: var(--ds-spacing-4);
}

.list__next-workouts {
  margin-top: var(--ds-spacing-5);
}

.list__next-workouts__title {
  color: var(--ds-color-text-secondary);
}

ion-list {
  background-color: inherit;
}

ion-item {
  margin-bottom: var(--ds-spacing-3);
  margin-top: 0;

  &::part(inner) {
    padding: 0;
  }
}

ion-fab-button {
  --background: var(--ds-color-primary-gradient);
  --box-shadow: var(--ds-color-primary-box-shadow);
}