<div class="division-list">
  <ion-text>
    <h3>Divisões</h3>
  </ion-text>
  <ion-accordion-group>
    <ion-accordion value="first" ope>
      <ion-item slot="header" color="light">
        <ion-label>A - Peito e Tríceps</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <table>
          <thead>
            <tr>
              <th>Exercício</th>
              <th>Repetições</th>
              <th>Descanso</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Supino Reto</td>
              <td>12</td>
              <td>60s</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
