<div class="division-list">
  @if (divisions!.length > 0) {
    <ng-container>
      <ion-text>
        <h3>Divisões</h3>
      </ion-text>
      <ion-accordion-group>
        @for (division of divisions?.controls; track $index) {
          <ion-accordion value="{{ division.get('title')?.value }}">
            <ion-item slot="header" color="light">
              <ion-label>{{ division.get('title')?.value }}</ion-label>
            </ion-item>
            <div class="accordion-content" slot="content">
              @if (exercisesFrom(division).length) {
                <table>
                  <thead>
                    <tr>
                      <th>Exercício</th>
                      <th>Séries</th>
                      <th>Reps.</th>
                      <th>Descanso</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    @for (exercise of exercisesFrom(division).controls; track $index) {
                      <tr>
                        <td>{{ exercise.controls.name.value }}</td>
                        <td>{{ exercise.controls.sets.value }}</td>
                        <td>{{ exercise.controls.reps.value }}</td>
                        <td>{{ exercise.controls.rest.value }}</td>
                        <td>
                          <ion-icon
                            color="danger"
                            name="trash-outline"
                            (click)="onRemoveExercise(division, $index)"
                          />
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              }
              <ion-button
                fill="outline"
                color="dark"
                class="ion-margin-top"
                (click)="onAddExercise($index)"
              >
                Adicionar Exercício
              </ion-button>
            </div>
          </ion-accordion>
        }
      </ion-accordion-group>
    </ng-container>
  }
  <app-toast-alert />
</div>
