<app-header title="Meus treinos" />

<ng-container *ngIf="training$ | async as trainings;">
  <ion-content
    [fullscreen]="true"
    [class.ion-padding]="trainings.length"
    [class.empty]="!trainings.length"
  >
    <ng-container *ngIf="trainings.length else empty_data">
      <ion-grid>
        @for(training of trainings; track $index) {
          <ion-row>
            <app-training-card [training]="training" />
          </ion-row>
        }
      </ion-grid>
      
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button [routerLink]="['/training/create']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ion-content>
</ng-container>

<ng-template #empty_data>
  <div class="empty-component">
    <ion-text>
      <p class="ion-text-center">
        Você ainda não adicionou nenhum treino.
      </p>
    </ion-text>
    <ion-button fill="outline" class="ion-padding add-new-training" (click)="onAddNewTraining()">
      <ion-icon name="add-outline"></ion-icon>
      Novo Treino
    </ion-button>
  </div>
</ng-template>