<ion-content [fullscreen]="true">
  <div class="auth-grid ion-padding">
    <ion-text class="title">Treinaí</ion-text>
    <ion-text>Seu treino começa aqui!</ion-text>
    <ion-button
      expand="block"
      fill="outline"
      class="ion-margin-top ion-padding login-google"
      (click)="handleGoogleLogin();"
    >
      <ion-icon aria-hidden="true" name="logo-google" class="ion-margin-end"></ion-icon>
      Login com Google
    </ion-button>
  </div>

  <app-toast-alert
    [(isOpen)]="loginToastState.isOpen"
    [message]="loginToastState.message"
  />
</ion-content>