/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";

:root {
  --font-heading: "Bebas Neue";
  --font-body: "Roboto";
  
  /* 🔴 Tons de Vermelho */
  --color-primary-red: #cc3e25;     // Vermelho vivo (camisa / iluminação principal)
  --color-dark-red: #91271a;        // Vermelho escuro (sombra da roupa)
  --color-rosy-magenta: #c64c5c;    // Névoa magenta avermelhada (braço)

  /* ⚫ Tons Escuros / Pretos */
  --color-black: #0c0c0c;           // Preto absoluto (fundo)
  --color-deep-purple: #1c1118;     // Fundo escuro com toque roxo
  --color-dark-magenta: #31172b;    // Roxo escuro na fumaça

  /* ⚪ Texto */
  --color-white: #ffffff;
  --color-light-gray: #eaeaea;
}

ion-text, p, span, blockquote, a, div {
  font-family: var(--font-body);
}